div{
    display: inline-block;
    border: 2px solid black;
    margin: 0px;
    padding: 5px;
    height: 20em;
    vertical-align: top;
}
#search{
    width: 25%;
}
#results{
    width: 60%;
    overflow-y: scroll;
}
header{
    text-align:center;
    border: 2px solid black;
}
.hidden{
    display: none;
}
